{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand fw-bold fst-italic" href="/">PortalPost</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'articulos:all_articles'%}">Articulos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'articulos:all_category'%}">Categorías</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Contacto</a>
                </li>

                <!-- Menú desplegable "Mi Perfil" -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        {% comment %} <img src="{% static 'images/perfil-default.png' %}" alt="Mi Perfil" class="profile-image"> {% endcomment %}
                        Perfil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Ver Perfil</a></li>
                      <li><a class="dropdown-item" href="{% url 'articulos:create' %}">Publicar Articulos</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>

  
