{% extends 'layout.html' %}

{% block content %}
<div class="text-center">
    <h1>Todos los category</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <ol class="list-group list-group-numbered">
            {% for category in categorys %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ category.name }}</div>
                    {{ category.content }}
                </div>
                <span class="badge bg-primary rounded-pill">{{ category.count }}</span>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
